.calibre {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    line-height: 1.4
    }
.calibre2 {
    -epub-hyphens: auto;
    -webkit-hyphens: auto;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding: 0;
    margin: 0 5pt
    }
.calibre3 {
    border-left-width: 0;
    border-right-width: 0;
    display: block;
    line-height: 1.4;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.calibre4 {
    display: block
    }
.calibre5 {
    font-family: "方正楷体简体 Regular", sans-serif;
    font-size: 1em;
    line-height: 1.2
    }
.calibre6 {
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
    border-right-width: 1.5px;
    border-top-width: 1.5px;
    display: block;
    font-family: STSong, "Song S", Song;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 0.5em 0 2.5em
    }
.calibre7 {
    display: block;
    height: 0;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.calibre8 {
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
    border-right-width: 1.5px;
    border-top-width: 1.5px;
    display: block;
    font-family: STSong, "Song S", Song;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    padding: 0;
    margin: 1.5em 0
    }
.calibre9 {
    display: block;
    line-height: 1.4
    }
.calibre10 {
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em
    }
.calibre11 {
    font-family: "方正楷体简体 Regular", sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: center;
    text-indent: 0
    }
.calibre12 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.4;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.char-style-override {
    font-family: "EU-BZ Regular", sans-serif;
    font-size: 0.66667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.char-style-override1 {
    font-size: 0.66667em;
    line-height: 1.2
    }
.char-style-override2 {
    font-family: "FZShuSong-Z01", serif;
    font-size: 0.66667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.char-style-override3 {
    line-height: 1.4;
    vertical-align: super
    }
.char-style-override4 {
    font-family: "方正兰亭纤黑_GBK Regular";
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    vertical-align: super
    }
.sgc-toc-level {
    display: block;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-left: 0;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.sgc-toc-level1 {
    display: block;
    line-height: 1.4;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.sgc-toc-title {
    display: block;
    font-size: 1.11111em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.times {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    line-height: 1.4
    }
.times1 {
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.4
    }
.times2 {
    font-family: "宋体＋times", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4
    }
.times3 {
    font-family: "Adobe Song Std L", serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4
    }
.times4 {
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4
    }
.x {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: "Times New Roman";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x1 {
    font-family: "Times New Roman", serif;
    font-size: 0.66667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2
    }
.x2 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 0.77778em;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x3 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: "Times New Roman";
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x4 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STSong, "Song S", Song;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x5 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-decoration: none;
    text-indent: 21px;
    padding: 0;
    margin: 1em 23px 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x6 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: "方正楷体简体 Regular", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x7 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0 1em 2em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x8 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STSong, "Song S", Song;
    font-size: 0.77778em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-decoration: none;
    text-indent: 21px;
    padding: 0;
    margin: 1em 23px 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x9 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STSong, "Song S", Song;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x10 {
    font-family: "MYing Hei S", Hei;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4
    }
.x11 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    break-after: column;
    color: #231815;
    display: block;
    font-family: STSong, "Song S", Song;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x12 {
    line-height: 1.4;
    text-decoration: underline;
    text-emphasis-color: #231815
    }
.x13 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    break-after: column;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0 1em 2em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x14 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0 1em 80px;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x15 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.x16 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STSong, "Song S", Song;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0 1em 22px;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x17 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: "MYing Hei S", Hei;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x18 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: "MYing Hei S", Hei;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x19 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0 1em 24px;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x20 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-decoration: none;
    text-indent: 20px;
    padding: 0;
    margin: 1em 0 1em 24px;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x21 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-decoration: none;
    text-indent: 20px;
    padding: 0;
    margin: 1em 0 1em 2em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x22 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x23 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0 1em 70px;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x24 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x25 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x26 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STKai, "MKai PRC", Kai;
    font-size: 0.88889em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: right;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0 1em 2em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x27 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: STSong, "Song S", Song;
    font-size: 0.66667em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.x28 {
    -epub-ruby-position: over;
    border-left-width: 0;
    border-right-width: 0;
    color: #231815;
    display: block;
    font-family: "汉仪中宋简 regular", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-align: justify;
    text-decoration: none;
    text-indent: 2em;
    padding: 0;
    margin: 1em 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
