.bodycontent {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10%;
  text-align: justify;
  text-indent: 2em;
}
.bodycontent-1-fangsong {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: 2em;
}
.bodycontent-1-fangsong-top {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
  text-indent: 2em;
}
.bodycontent-1-top {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: justify;
  text-indent: 2em;
}
.bodycontent-2-fangsong {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 4em;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: -2em;
}
.bodycontent-2-fangsong-top {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: justify;
  text-indent: 2em;
}
.bodycontent-2-fangsong1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: 2em;
}
.bodycontent-2-fangsong2 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 4em;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: 0;
}
.bodycontent-2-kaiti {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: 2em;
}
.bodycontent-2-kaiti-top {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.3em;
  text-align: justify;
  text-indent: 2em;
}
.bodycontent1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: justify;
  text-indent: -2em;
}
.calibre {
  background-color: transparent;
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  font-weight: bold;
}
.calibre2 {
  display: block;
}
.calibre3 {
  display: block;
  line-height: 1.2;
}
.calibre4 {
  font-style: italic;
}
.calibre5 {
  font-size: 0.64516em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  vertical-align: super;
}
.calibre6 {
  font-size: 0.6em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  vertical-align: super;
}
.calibre7 {
  line-height: 1.2;
}
.calibre8 {
  font-size: 0.64516em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  vertical-align: sub;
}
.calibre9 {
  border-bottom-color: currentColor;
  border-bottom-style: inset;
  border-bottom-width: 1px;
  border-left-color: currentColor;
  border-left-style: inset;
  border-left-width: 1px;
  border-right-color: currentColor;
  border-right-style: inset;
  border-right-width: 1px;
  border-top-color: currentColor;
  border-top-style: inset;
  border-top-width: 1px;
  color: gray;
  display: block;
  height: 2px;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}
.chatu_img {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
}
.contents {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2em;
  text-align: left;
  text-indent: 0;
}
.contents1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.2em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.2em;
  text-align: left;
  text-indent: 0;
}
.fncontent {
  display: block;
  font-size: 0.77419em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: -2em;
}
.hang-bodycontent {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: -2em;
}
.hang-bodycontent-1-top {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
  text-indent: -2em;
}
.hang-bodycontent-1-top1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 10%;
  text-align: justify;
  text-indent: -2em;
}
.hang-bodycontent-2-top {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 4em;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: justify;
  text-indent: -2em;
}
.noindent-bodycontent {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: 0;
}
.noindent-bodycontent-1-c {
  display: block;
  font-size: 1.29032em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
  text-indent: 0;
}
.noindent-bodycontent-1-c-top {
  display: block;
  font-size: 1.29032em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: center;
  text-indent: 0;
}
.noindent-bodycontent-1-kaiti-c-top {
  display: block;
  font-size: 1.29032em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: center;
  text-indent: 0;
}
.noindent-bodycontent-1-top {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: justify;
  text-indent: 0;
}
.noindent-bodycontent-1-top1 {
  display: block;
  font-size: 1.29032em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: justify;
  text-indent: 0;
}
.noindent-bodycontent1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10%;
  text-align: justify;
  text-indent: 0;
}
.pic-img {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.pic-img-w {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 20%;
}
.pic-img-w1 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 55%;
}
.pic-img-w2 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 80%;
}
.pic-img-w3 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 75%;
}
.pic-img-w4 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 70%;
}
.pic-img-w5 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}
.pic-img-w6 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 85%;
}
.pic-img-w7 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 65%;
}
.pic-img-w8 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 60%;
}
.pic-img-w9 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  width: 90%;
}
.prefacetitle-c {
  display: block;
  font-size: 1.41935em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.6em;
  text-align: center;
  text-indent: 0;
}
.prefacetitle-r {
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.6em;
  text-align: right;
  text-indent: 0;
}
.signcontent {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: right;
  text-indent: 0;
}
.signcontent-1-top {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.3em;
  text-align: right;
  text-indent: 0;
}
.tuzhu {
  display: block;
  font-size: 0.77419em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
  text-indent: 0;
}
.txtheading {
  display: block;
  font-size: 1.29032em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.2em;
  text-align: left;
  text-indent: 0;
}
.txtheading-1-c {
  display: block;
  font-size: 1.41935em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.2em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.2em;
  text-align: center;
  text-indent: 0;
}
