.calibre {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.calibre1 {
  color: #000;
  display: block;
  font-size: 1.83333em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
  text-indent: 0;
}
.calibre2 {
  display: block;
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
.calibre3 {
  display: block;
}
.calibre4 {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
}
.calibre5 {
  font-family: heiti;
  font-size: 1em;
  font-weight: 800;
}
.calibre6 {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
}
.calibre7 {
  color: #000;
  display: block;
  font-size: 1.66667em;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 1.3em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
  text-indent: 0;
}
.calibre8 {
  display: block;
  font-size: 1.66667em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 2em;
}
.calibre9 {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
}
.calibre10 {
  display: block;
  line-height: 1.2;
}
.calibre11 {
  color: #000;
  display: block;
  font-size: 1.83333em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1.3em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
  text-indent: 0;
}
.calibre12 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: auto;
}
sup{
  display: none;
  visibility: hidden;
}
.calibre13 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
  display: none;
  visibility: hidden;
}
.calibre14 {
  color: black;
}
.calibre15 {
  display: block;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
}
.calibre16 {
  display: block;
  font-family: kaiti;
  font-size: 1.29167em;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.4em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
}
.calibre17 {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
}
.calibre18 {
  display: block;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
}
.calibre19 {
  display: block;
  font-family: heiti;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 2em;
}
.calibre20 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 15em;
}
.calibre21 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 95%;
}
.calibre22 {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: justify;
  text-indent: 2em;
  text-justify: inter-ideograph;
}
.calibre23 {
  display: block;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
.calibre24 {
  font-family: heiti;
  font-size: 1.29167em;
  font-weight: 800;
  line-height: 1.2;
}
.center {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: center;
  text-indent: 0;
  text-justify: inter-ideograph;
}
.center1 {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
  text-indent: 0;
  text-justify: inter-ideograph;
}
.center2 {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5em;
  text-align: center;
  text-indent: 0;
  text-justify: inter-ideograph;
}
.centerdl-b {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-size: 1.41935em;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 0.5em;
  text-indent: 0;
}
.chatu {
  display: block;
  font-family: songti;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  text-align: center;
}
.chatu1 {
  display: block;
  font-family: songti;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.chatu2 {
  display: block;
  font-family: songti;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  text-align: center;
}
.chubanshe {
  bottom: 12%;
  display: block;
  font-family: fzlth;
  font-size: 1em;
  left: 0%;
  margin-left: 0%;
  margin-top: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}
.clear {
  clear: both;
  display: block;
}
/**
.dropcap {
  float: left;
  font-size: 1.8em;
  line-height: 1.6em;
  margin-bottom: 0;
  margin-right: 0.3em;
  margin-top: 0;
}
.dropcap1 {
  float: left;
  font-size: 1.54839em;
  line-height: 1.6em;
  margin-bottom: 0;
  margin-right: 0.3em;
  margin-top: 0;
}
***/
.fnote {
  border-top-color: gray;
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 2em;
  padding-top: 0.5em;
  text-align: justify;
  text-indent: 2em;
}
.fnote1 {
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 0.5em;
  padding-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.fnote2 {
  border-top-color: gray;
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 1em;
  padding-top: 0.5em;
  text-align: justify;
  text-indent: 2em;
}
.fright {
  display: block;
  float: right;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 0;
  margin-top: 10px;
  max-width: 50%;
  text-align: center;
  width: 48%;
}
.grey {
  background-color: #DCDCDC;
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.juzhong {
  display: block;
  margin-bottom: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30%;
}
.kaiti {
  display: block;
  font-family: kaiti;
  font-size: 1.66667em;
  line-height: 1.2;
  text-indent: 2em;
}
.kaiti1 {
  display: block;
  font-family: kaiti;
}
.kaiti2 {
  display: block;
  font-family: kaiti;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: right;
  text-indent: 2em;
  text-justify: inter-ideograph;
}
.noindent {
  display: block;
  font-size: 1.29167em;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
  text-indent: 0;
  text-justify: inter-ideograph;
}
.red {
  color: #C00;
  line-height: 1.2;
}
.red1 {
  color: #C00;
}
.redl {
  background-color: #fcc;
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.sbiao {
  font-size: 0.77419em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  vertical-align: super;
  display: none;
  visibility: hidden;
}
.shuming {
  display: block;
  font-family: songti;
  padding-top: 30%;
  text-align: center;
  text-indent: 0;
}
.solid {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: currentColor;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: currentColor;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: currentColor;
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  padding-bottom: 0.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.8em;
}
.solid-red {
  background-color: #cb7187;
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: currentColor;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: currentColor;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: currentColor;
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  padding-bottom: 0.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.8em;
}
.solidgrey {
  background-color: #dcdcdc;
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: currentColor;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: currentColor;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: currentColor;
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  padding-bottom: 0.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.8em;
}
.tushuo {
  display: block;
  font-family: kaiti;
  font-size: 1em;
  letter-spacing: 0;
  line-height: 1.2em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5em;
  text-align: left;
  text-indent: 0;
  text-justify: inter-ideograph;
}
.width {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 40%;
}
.width1 {
  height: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 60%;
}
