.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre2 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre5 {
    font-size: 0.75em
    }
.calibre6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre7 {
    display: block;
    height: 0;
    border: currentColor none 0;
    margin: 0
    }
.calibre8 {
    display: block;
    height: 1em;
    border: currentColor none 0;
    margin: 0
    }
.calibre9 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre10 {
    display: block;
    text-indent: 0;
    margin: 0
    }
.calibre11 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 3em 0 0
    }
.calibre12 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre13 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre14 {
    display: block;
    text-align: left;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre15 {
    display: block;
    height: 3em
    }
.calibre16 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.calibre17 {
    display: list-item;
    margin-top: 10pt;
    text-indent: 0
    }
.calibre18 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0
    }
.calibre19 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre20 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre21 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 1em 0 0
    }
.calibre22 {
    height: 334px;
    vertical-align: baseline;
    width: 220px
    }
.calibre23 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre24 {
    height: 301px;
    vertical-align: baseline;
    width: 451px
    }
.calibre25 {
    height: 246px;
    vertical-align: baseline;
    width: 349px
    }
.calibre26 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 2em 0 0 2em
    }
.calibre27 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0 2em
    }
.calibre28 {
    height: 426px;
    vertical-align: baseline;
    width: 348px
    }
.calibre29 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 2em 0 0
    }
.calibre30 {
    height: 210px;
    vertical-align: baseline;
    width: 400px
    }
.calibre31 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 11pt 0 0
    }
.calibre32 {
    display: block;
    text-align: justify;
    text-indent: 1em;
    margin: 0
    }
.calibre33 {
    height: 123px;
    vertical-align: baseline;
    width: 397px
    }
.calibre34 {
    height: 229px;
    vertical-align: baseline;
    width: 403px
    }
.calibre35 {
    height: 338px;
    vertical-align: baseline;
    width: 291px
    }
.calibre36 {
    height: 358px;
    vertical-align: baseline;
    width: 316px
    }
.calibre37 {
    height: 186px;
    vertical-align: baseline;
    width: 414px
    }
.calibre38 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 3em 0 0 2em
    }
.calibre39 {
    height: 184px;
    vertical-align: baseline;
    width: 391px
    }
.calibre40 {
    height: 356px;
    vertical-align: baseline;
    width: 372px
    }
.calibre41 {
    height: 347px;
    vertical-align: baseline;
    width: 461px
    }
.calibre42 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre43 {
    height: 166px;
    vertical-align: baseline;
    width: 440px
    }
.calibre44 {
    height: 209px;
    vertical-align: baseline;
    width: 484px
    }
.calibre45 {
    height: 230px;
    vertical-align: baseline;
    width: 303px
    }
.calibre46 {
    height: 228px;
    vertical-align: baseline;
    width: 253px
    }
.calibre47 {
    height: 217px;
    vertical-align: baseline;
    width: 244px
    }
.calibre48 {
    height: 265px;
    vertical-align: baseline;
    width: 380px
    }
.calibre49 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre50 {
    height: 298px;
    vertical-align: baseline;
    width: 314px
    }
.calibre51 {
    height: 322px;
    vertical-align: baseline;
    width: 350px
    }
.mbppagebreak {
    display: block;
    margin: 0
    }
