.bodycontent {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 10% 0 0.5em
    }
.bodycontent-1-fangsong {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0
    }
.bodycontent-1-fangsong-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.5em 0 0.5em
    }
.bodycontent-1-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.3em 0 0.5em
    }
.bodycontent-2-fangsong {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: -2em;
    margin: 0.5em 0 0.5em 4em
    }
.bodycontent-2-fangsong-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.3em 0 0.5em 2em
    }
.bodycontent-2-fangsong1 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 0 0.5em 2em
    }
.bodycontent-2-fangsong2 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 0;
    margin: 0.5em 0 0.5em 4em
    }
.bodycontent-2-kaiti {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 0.5em 2em
    }
.bodycontent-2-kaiti-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 2em;
    margin: 1.3em 2em 0.5em
    }
.bodycontent1 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: -2em;
    margin: 1.3em 0 0.5em 2em
    }
.calibre {
    background-color: transparent;
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    font-size: 0.625em;
    line-height: 1.2;
    vertical-align: super;
    margin: 0
    }
.calibre6 {
    font-size: 0.58065em;
    line-height: 1.2;
    vertical-align: super;
    margin: 0
    }
.calibre7 {
    line-height: 1.2
    }
.calibre8 {
    font-size: 0.625em;
    line-height: 1.2;
    vertical-align: sub;
    margin: 0
    }
.calibre9 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.chatu_img {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 1em 0;
    padding: 0
    }
.contents {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    text-align: left;
    text-indent: 0;
    margin: 0.2em 0
    }
.contents1 {
    display: block;
    font-size: 1em;
    line-height: 1.2em;
    text-align: left;
    text-indent: 0;
    margin: 0.2em 0 0.2em 2em
    }
.fncontent {
    display: block;
    font-size: 0.83333em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: -2em;
    margin: 0.5em 0 0.5em 2em
    }
.hang-bodycontent {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: -2em;
    margin: 0.5em 0 0.5em 2em
    }
.hang-bodycontent-1-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: -2em;
    margin: 1.5em 0 0.5em 2em
    }
.hang-bodycontent-1-top1 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: -2em;
    margin: 10% 0 0.5em 2em
    }
.hang-bodycontent-2-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: -2em;
    margin: 1.3em 0 0.5em 4em
    }
.noindent-bodycontent {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 0;
    margin: 0.5em 0
    }
.noindent-bodycontent-1-c {
    display: block;
    font-size: 1.29167em;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    margin: 0.5em 0
    }
.noindent-bodycontent-1-c-top {
    display: block;
    font-size: 1.29167em;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    margin: 1.5em 0 0.5em
    }
.noindent-bodycontent-1-kaiti-c-top {
    display: block;
    font-size: 1.29167em;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    margin: 1.3em 0 0.5em
    }
.noindent-bodycontent-1-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 0;
    margin: 1.3em 0 0.5em
    }
.noindent-bodycontent-1-top1 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 0;
    margin: 1.3em 0 0.5em
    }
.noindent-bodycontent1 {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 0;
    margin: 10% 0 0.5em
    }
.pic-img {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    padding: 0
    }
.pic-img-w {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 20%;
    margin: 0;
    padding: 0
    }
.pic-img-w1 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 55%;
    margin: 0;
    padding: 0
    }
.pic-img-w2 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: 0;
    padding: 0
    }
.pic-img-w3 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 75%;
    margin: 0;
    padding: 0
    }
.pic-img-w4 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 70%;
    margin: 0;
    padding: 0
    }
.pic-img-w5 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    margin: 0;
    padding: 0
    }
.pic-img-w6 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 85%;
    margin: 0;
    padding: 0
    }
.pic-img-w7 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 65%;
    margin: 0;
    padding: 0
    }
.pic-img-w8 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 60%;
    margin: 0;
    padding: 0
    }
.pic-img-w9 {
    height: auto;
    text-align: center;
    vertical-align: middle;
    width: 90%;
    margin: 0;
    padding: 0
    }
.prefacetitle-c {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1.6em 0 0
    }
.prefacetitle-r {
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    text-indent: 0;
    margin: 1.6em 0 0
    }
.signcontent {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    text-indent: 0;
    margin: 0
    }
.signcontent-1-top {
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    text-indent: 0;
    margin: 1.3em 0 0
    }
.tuzhu {
    display: block;
    font-size: 0.83333em;
    line-height: 1.5em;
    text-align: center;
    text-indent: 0;
    margin: 0.5em 0
    }
.txtheading {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1.2em 0
    }
.txtheading-1-c {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: 1.2em 0
    }
