.bodypic_ {
  display: block;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  text-align: center;
}
.bold {
  font-weight: bold;
}
.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  display: block;
}
.calibre2 {
  border-bottom-color: currentColor;
  border-bottom-style: inset;
  border-bottom-width: 1px;
  border-left-color: currentColor;
  border-left-style: inset;
  border-left-width: 1px;
  border-right-color: currentColor;
  border-right-style: inset;
  border-right-width: 1px;
  border-top-color: currentColor;
  border-top-style: inset;
  border-top-width: 1px;
  color: gray;
  display: block;
  height: 2px;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}
.calibre3 {
  height: auto;
  width: auto;
}
.content {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_ {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.content_1 {
  display: block;
  font-weight: bold;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_2 {
  display: block;
  font-weight: bold;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.content_3 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: right;
  text-indent: 0;
}
.content_4 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_5 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_6 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 3em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_7 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 4em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_8 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 6em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_9 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 5em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_10 {
  display: block;
  font-weight: bold;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_11 {
  display: block;
  font-weight: bold;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_12 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 17em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_13 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 7em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.content_14 {
  display: block;
  line-height: 1.618em;
  margin-bottom: 0;
  margin-left: 8em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 2em;
}
.contents {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-left: 2em;
  text-align: justify;
}
.contents-title {
  border-bottom-color: #000;
  border-bottom-style: dotted;
  border-bottom-width: 1.5px;
  display: block;
  font-size: 1.54839em;
  font-weight: bold;
  letter-spacing: 1em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  text-align: center;
}
.contents1 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-left: 4em;
  text-align: justify;
}
.contents2 {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-left: 6em;
  text-align: justify;
}
.firsttitle {
  display: block;
  font-size: 1.54839em;
  font-weight: bold;
  line-height: 1.8em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
}
.firsttitle_ {
  display: block;
  font-size: 1.54839em;
  font-weight: bold;
  line-height: 1.8em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
  text-indent: 0;
}
.h-pic {
  height: 1.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  vertical-align: middle;
  width: auto;
}
.noindent {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0;
}
.pic_ {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
.secondtitle {
  display: block;
  font-size: 1.41935em;
  font-weight: bold;
  line-height: 1.6em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
}
.sub {
  font-size: 0.77419em;
  vertical-align: sub;
}
.super {
  font-size: 0.77419em;
  vertical-align: super;
}
.thirdtitle {
  display: block;
  font-size: 1.29032em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
}
