.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre_ {
  display: block;
  margin: 1em;
}
.calibre1 {
  font-weight: bold;
  line-height: 1.2;
}
.calibre2 {
  display: block;
  text-align: center;
}
.img-m {
  font-size: 1em;
  height: auto;
  line-height: 1.2;
  text-indent: 2em;
  width: auto;
}
.mbp_pagebreak {
  display: block;
}
.rule_ {
  display: block;
  font-size: 1.41935em;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0.83em 0 7%;
}
.rule_1 {
  line-height: 1.2;
}
.rule_2 {
  display: block;
  line-height: 1.7em;
  text-indent: 2em;
  margin: 0;
}
.rule_3 {
  display: block;
  line-height: 1.7em;
  text-align: right;
  text-indent: 2em;
  margin: 0;
}
.sgc-toc-level {
  display: block;
  margin-left: 0;
}
.sgc-toc-level1 {
  display: block;
  margin-left: 2em;
}
.sgc-toc-title {
  display: block;
  font-size: 1.54839em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  text-align: center;
}
