.calibre {
  display: block;
  font-size: 1.29167em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
}
.calibre_ {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 0;
}
.calibre_1 {
  color: #a9732d;
}
.calibre_2 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: center;
  text-indent: 0;
}
.calibre_3 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 0;
}
.calibre_4 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  text-align: justify;
  text-indent: 0;
}
.calibre_5 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15pt;
  text-align: center;
  text-indent: 0;
}
.calibre_6 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 2em;
}
.calibre_7 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: right;
  text-indent: 0;
}
.calibre_8 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
  text-indent: 0;
}
.calibre_9 {
  height: 576px;
  vertical-align: baseline;
  width: 399px;
}
.calibre_10 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3pt;
  text-align: center;
  text-indent: 0;
}
.calibre_11 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: justify;
  text-indent: 0;
}
.calibre_12 {
  height: 444px;
  vertical-align: baseline;
  width: 665px;
}
.calibre_13 {
  background-color: #d9d9d9;
}
.calibre_14 {
  height: 343px;
  vertical-align: baseline;
  width: 363px;
}
.calibre_15 {
  height: 482px;
  vertical-align: baseline;
  width: 316px;
}
.calibre_16 {
  height: 349px;
  vertical-align: baseline;
  width: 620px;
}
.calibre_17 {
  height: 372px;
  vertical-align: baseline;
  width: 696px;
}
.calibre_18 {
  height: 326px;
  vertical-align: baseline;
  width: 555px;
}
.calibre_19 {
  height: 289px;
  vertical-align: baseline;
  width: 313px;
}
.calibre_20 {
  height: 266px;
  vertical-align: baseline;
  width: 296px;
}
.calibre_21 {
  height: 420px;
  vertical-align: baseline;
  width: 686px;
}
.calibre_22 {
  height: 528px;
  vertical-align: baseline;
  width: 402px;
}
.calibre_23 {
  height: 295px;
  vertical-align: baseline;
  width: 1082px;
}
.calibre_24 {
  height: 184px;
  vertical-align: baseline;
  width: 672px;
}
.calibre_25 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 3em;
}
.calibre_26 {
  height: 473px;
  vertical-align: baseline;
  width: 630px;
}
.calibre_27 {
  height: 306px;
  vertical-align: baseline;
  width: 540px;
}
.calibre_28 {
  height: 335px;
  vertical-align: baseline;
  width: 700px;
}
.calibre_29 {
  height: 263px;
  vertical-align: baseline;
  width: 739px;
}
.calibre_30 {
  height: 418px;
  vertical-align: baseline;
  width: 522px;
}
.calibre_31 {
  height: 285px;
  vertical-align: baseline;
  width: 686px;
}
.calibre_32 {
  height: 321px;
  vertical-align: baseline;
  width: 681px;
}
.calibre_33 {
  height: 273px;
  vertical-align: baseline;
  width: 712px;
}
.calibre_34 {
  height: 513px;
  vertical-align: baseline;
  width: 601px;
}
.calibre_35 {
  height: 429px;
  vertical-align: baseline;
  width: 370px;
}
.calibre_36 {
  height: 287px;
  vertical-align: baseline;
  width: 690px;
}
.calibre_37 {
  height: 317px;
  vertical-align: baseline;
  width: 374px;
}
.calibre_38 {
  height: 448px;
  vertical-align: baseline;
  width: 668px;
}
.calibre_39 {
  height: 299px;
  vertical-align: baseline;
  width: 711px;
}
.calibre_40 {
  height: 351px;
  vertical-align: baseline;
  width: 306px;
}
.calibre_41 {
  height: 319px;
  vertical-align: baseline;
  width: 510px;
}
.calibre_42 {
  height: 275px;
  vertical-align: baseline;
  width: 324px;
}
.calibre_43 {
  height: 452px;
  vertical-align: baseline;
  width: 676px;
}
.calibre_44 {
  height: 362px;
  vertical-align: baseline;
  width: 306px;
}
.calibre_45 {
  height: 609px;
  vertical-align: baseline;
  width: 458px;
}
.calibre_46 {
  height: 442px;
  vertical-align: baseline;
  width: 459px;
}
.calibre_47 {
  height: 270px;
  vertical-align: baseline;
  width: 285px;
}
.calibre_48 {
  height: 223px;
  vertical-align: baseline;
  width: 297px;
}
.calibre_49 {
  height: 296px;
  vertical-align: baseline;
  width: 220px;
}
.calibre_50 {
  height: 553px;
  vertical-align: baseline;
  width: 386px;
}
.calibre_51 {
  height: 279px;
  vertical-align: baseline;
  width: 302px;
}
.calibre_52 {
  height: 351px;
  vertical-align: baseline;
  width: 477px;
}
.calibre_53 {
  height: 373px;
  vertical-align: baseline;
  width: 392px;
}
.calibre_54 {
  height: 444px;
  vertical-align: baseline;
  width: 297px;
}
.calibre_55 {
  height: 373px;
  vertical-align: baseline;
  width: 596px;
}
.calibre_56 {
  height: 408px;
  vertical-align: baseline;
  width: 405px;
}
.calibre_57 {
  height: 456px;
  vertical-align: baseline;
  width: 684px;
}
.calibre_58 {
  height: 356px;
  vertical-align: baseline;
  width: 296px;
}
.calibre_59 {
  height: 565px;
  vertical-align: baseline;
  width: 686px;
}
.calibre_60 {
  height: 298px;
  vertical-align: baseline;
  width: 398px;
}
.calibre_61 {
  height: 454px;
  vertical-align: baseline;
  width: 686px;
}
.calibre_62 {
  height: 545px;
  vertical-align: baseline;
  width: 686px;
}
.calibre_63 {
  height: 558px;
  vertical-align: baseline;
  width: 374px;
}
.calibre_64 {
  height: 420px;
  vertical-align: baseline;
  width: 289px;
}
.calibre_65 {
  height: 364px;
  vertical-align: baseline;
  width: 291px;
}
.calibre_66 {
  height: 643px;
  vertical-align: baseline;
  width: 444px;
}
.calibre_67 {
  height: 286px;
  vertical-align: baseline;
  width: 306px;
}
.calibre_68 {
  height: 352px;
  vertical-align: baseline;
  width: 306px;
}
.calibre_69 {
  height: 423px;
  vertical-align: baseline;
  width: 297px;
}
.calibre_70 {
  height: 686px;
  vertical-align: baseline;
  width: 672px;
}
.calibre_71 {
  height: 1054px;
  vertical-align: baseline;
  width: 673px;
}
.calibre_72 {
  height: 1070px;
  vertical-align: baseline;
  width: 672px;
}
.calibre_73 {
  height: 1087px;
  vertical-align: baseline;
  width: 673px;
}
.calibre_74 {
  height: 1096px;
  vertical-align: baseline;
  width: 672px;
}
.calibre_75 {
  height: 1089px;
  vertical-align: baseline;
  width: 673px;
}
.calibre_76 {
  height: 1097px;
  vertical-align: baseline;
  width: 673px;
}
.calibre_77 {
  height: 1066px;
  vertical-align: baseline;
  width: 673px;
}
.calibre_78 {
  height: 1042px;
  vertical-align: baseline;
  width: 673px;
}
.calibre1 {
  font-size: 1.29032em;
  line-height: 1.2;
}
.calibre2 {
  font-size: 1.54839em;
  line-height: 1.2;
}
.calibre3 {
  font-size: 1.41935em;
  line-height: 1.2;
}
.calibre4 {
  font-size: 0.77419em;
  line-height: 1.2;
  vertical-align: super;
  display: none;
  visibility: hidden;
}
.calibre5 {
  font-size: 0.75em;
}
.calibre6 {
  font-size: 0.83333em;
}
.calibre7 {
  font-size: 0.6em;
  line-height: 1.2;
  vertical-align: super;
}
.mbp_pagebreak {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
